extends layout.pug
block head
  title タイムライン
block content
  #timeline.row
    .col-md-6.col-md-offset-3
      form(v-on:submit="postToot")
        .form-group
          textarea.form-control(v-model="newToot.body" placeholder="今何してる？" requirerd)
        .form-group
          input.btn.btn-primary.btn-lg.btn-block(type="submit" value="toot!")
      #toots
          .media(v-for="toot in toots")
            .panel.panel-default(class="panel-heading")
              .pull-right
                button.btn.btn-danger.btn-xs(v-on:click="putToot($event, toot.id)")
                    i.glyphicon.glyphicon-pencil
                button.btn.btn-danger.btn-xs(v-on:click="deleteToot($event, toot.id)")
                      i.glyphicon.glyphicon-trash
              .toot-body(contenteditable="false")
                | {{ toot.body }}
              .toot-date
                | {{ formatTime(toot.created_at) }}